pipeline/publish_data_to_sql.json
{
	"name": "publish_data_to_sql",
	"properties": {
		"activities": [
			{
				"name": "Lookup_publish",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json_Source_info",
						"type": "DatasetReference",
						"parameters": {
							"filename": "publish_table.json",
							"container": "manuallyuploadedfiles"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachdata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_publish",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_publish').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_data_activity_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureDatabricksDeltaLakeSource",
									"exportSettings": {
										"type": "AzureDatabricksDeltaLakeExportCommand"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"allowCopyCommand": true,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "AzureDataLakeStorageSink",
										"type": "LinkedServiceReference"
									},
									"path": "stagingtablesink"
								}
							},
							"inputs": [
								{
									"referenceName": "AzureDatabricksDeltaLakeDataset_source",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().source_table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSynapseAnalyticsTable_sink",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().publish_table_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}